@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

$days: 'Montserrat', sans-serif;
$monts: 'Montserrat', sans-serif;
$robot: 'Roboto', sans-serif;
$sansal: 'SansationL', sans-serif;
$sansar: 'SansationR', sans-serif;
$neon: 'Neon', sans-serif;

%btn-type-pink {
  font-size: 24px;
  line-height: 1.125;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 70px;
  letter-spacing: 0.05em;
}
