@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

$days-one: 'Russo One', sans-serif;
$monts: 'Montserrat';
$robot: 'Roboto';
$sansal: 'SansationL' ;
$sansar: 'SansationR';
$neon: 'Neon';
